{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} WordPlease by David Regatos {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'blogs_home' %}">Home</a></li>
                <li><a href="{% url 'blogs_list' %}">Explore</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog_detail' username=user.username %}">My Blog</a></li>
                    <li><a href="{% url 'users_logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'users_login' %}">Log in</a></li>
                    <li><a href="{% url 'users_signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        <hr/>
        <section>
            <h1>WordPlease by David Regatos</h1>
            <p>Startup Engineering Master Bootcamp, 1st Edition</p>
        </section>
        <hr/>
        <section>
            {% block section %} {% endblock %}
        </section>
        <hr/>
        <small>WordPlease by David Regatos &copy; All right reserved</small>
    </div>
</body>
</html>