{% extends 'base.html' %}

{% block section %}

    {% if message|length > 0 %}

        {% include 'blogs/error_message.html' with error_message=message %}

    {% else %}

        {% for blog in blogs_list %}

            <li>
                <a href="{% url 'blog_detail' username=blog.owner.username %}">
                    <h4>{{ blog.name }} <small>created by {{ blog.owner.first_name }} {{ blog.owner.last_name }}   </small></h4>
                </a>
            </li>

        {% endfor %}

    {% endif %}

{% endblock %}