{% extends 'base.html' %}

{% block section %}

    {% if message|length > 0 %}

        {% include 'blogs/error_message.html' with error_message=message %}

    {% else %}

        <div>
            <h2>{{ blog.name }} <small>by {{ blog.owner.username }}</small></h2>

        </div>

        {% if blog.description|length > 0 %}
            <div>{{ blog.description }} </div>
        {% endif %}

        <div>
            {% if posts_list|length > 0 %}
                {% include 'blogs/post_cell.html' %}
            {% else %}
                :( There isn't any post
            {% endif %}
        </div>

    {% endif %}

{% endblock %}